/*
* @Author: Tomasz Niezgoda
* @Date:   2016-02-25 02:45:07
* @Last Modified by:   Tomasz Niezgoda
* @Last Modified time: 2016-02-28 06:56:51
*/

body{
  background: #EFF8F3;
  margin: 20px;

  h1{
    font-family: Open Sans, Helvetica, Ubuntu;
  }
}