<!DOCTYPE html>
<html>
<head>
    <title>{{{pageTitle}}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <link rel="stylesheet" type="text/css" href="/styles/main-<%= busters['deploy/public/styles/main.css'] %>.css"> -->
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
    <script type="text/javascript">
        var serverProps = {{{serverProps}}};
    </script>
    <script type="text/javascript" src="/scripts/main.generated.js"></script>
</head>
<body>
    <div id="base">{{{content}}}</div>
</body>
</html>